<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset='utf-8'>
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" media="all" />
    <title>Search Ubike station near by you</title>
</head>
<body>
    <div class="container2" >
    </div>
    <hr>
    <div class="container">
    <form action="" class="tabulation" >
    Latitude&nbsp&nbsp&nbsp:
    <input type="text" name="lat" value="25.034153" size="6">
    <a><br></a>
    Longitude&nbsp:
    <input type="text" name="lng" value="121.568509" size="6">
    <a><br></a>
    <input type="submit" value="Submit" class="button">
    </form>
    </div>
</body>
</html>